<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center padding>
  <img src="./assets/imgs/spacex-logo.png" alt="">
  <h3>SpaceX info</h3>
  <p>Just another app for browsing SpaceX open API.</p>
  <ion-footer padding>
    <span>Built with <ion-icon name="heart" color="danger"></ion-icon> by <ion-icon name="code" color="primary"></ion-icon></span>
  </ion-footer>
</ion-content>
