<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Launches</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-spinner name="crescent" color="primary" *ngIf="loading"></ion-spinner>

  <ion-list *ngIf="launches" @itemState>
      <button class="launchButton" ion-item *ngFor="let launch of launches" (click)="openLaunchDetails(launch)">
        <ion-avatar item-start>
          <img class="image" [src]="launch.links.mission_patch_small ? launch.links.mission_patch_small : './assets/imgs/rocket.svg'" [imageViewer]="launch.links.mission_patch || './assets/imgs/SpaceX-Falcon-9.jpg'">
        </ion-avatar>
        <h2>{{launch.mission_name}}</h2>
        <p>{{launch.rocket.rocket_name}} - {{launch.launch_date_utc | date}} </p>
      </button>
    </ion-list>
</ion-content>