page-launches {
    ion-spinner {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 4em;
        height: 4em;
    }
    .image {
        background: transparent;
        border-radius: 0 !important;
    }
}
