<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Missions</ion-title>
  </ion-navbar>
</ion-header>

<ion-slides (ionSlideDidChange)="slideChanged()" speed="700" spaceBetween="20">
  <ion-slide *ngFor="let mission of missions">
    <ion-card>
      <ion-card-header>
        <h1>{{ mission.mission_name }}</h1>
      </ion-card-header>
      <ion-card-content>
        <button ion-button small round icon-start outline *ngIf="mission.website" (click)="openWeb(mission.website)">
          <ion-icon name="globe"></ion-icon>
          Website
        </button>
        <button ion-button small round icon-start outline *ngIf="mission.twitter" (click)="openWeb(mission.twitter)">
          <ion-icon name="logo-twitter"></ion-icon>
          Twitter
        </button>
        <button ion-button small round icon-start outline *ngIf="mission.wikipedia"
          (click)="openWeb(mission.wikipedia)">
          <ion-icon name="custom-wikipedia"></ion-icon>
          Wikipedia
        </button>
      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>

<ion-content padding>
  <ion-spinner name="crescent" color="primary" *ngIf="loading"></ion-spinner>
  <ion-card class="descriptionCard" *ngIf="missions && cardVisible">
    <ion-card-content [@fadeIN]>
      {{missions[activeCardIndex].description}}
      <ion-grid>
        <ion-row>
          <ion-col>
            Manufacturers:
          </ion-col>
          <ion-col text-right>
            <p *ngFor="let manufacturer of missions[activeCardIndex].manufacturers">{{ manufacturer }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Payloads:
          </ion-col>
          <ion-col text-right>
            <p *ngFor="let payload of missions[activeCardIndex].payload_ids">{{ payload }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>