page-missions {
    ion-content {
        top: calc(20vh + 56px);
        height: calc(80vh - 56px);
    }
    ion-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 4em;
        height: 4em;
    }
    ion-slides {
        top: 56px;
        position: relative;
        height: 30vh;
        .swiper-slide-prev.swiper-slide {
            z-index: 2;
            transition: all 700MS linear;
            & .slide-zoom {
                filter: blur(1px);
            } 
        }
        .swiper-slide-active {
            transition: all 700ms linear;
            z-index: 3;
        }
        .swiper-slide-next.swiper-slide {
            z-index: 2;
            transition: all 700ms linear;
            margin-left: -110px !important;
            & .slide-zoom {
                filter: blur(1px);
            } 
        }
        ion-slide {
            padding: 20px;
        }
    }
    
}