// Feat android transparent status bar
// Set padding-top and default bg-color for status bar
.platform-android {
    page-launch-info {
      ion-header {
        // padding-top: $cordova-md-statusbar-padding;
        background-color: color($colors, primary);
      }
    }
  }
  
  // Super bar placeholder
  // Work in tool bar with transparent status bar
  %super-bar {
    .scroll-content {
      margin-top: 0 !important;
    }
  
    ion-header, .toolbar-background {
      background-color: initial !important;
      transition: background-color 1s ease;
  
      &:after {
        height: 0  !important;
      }
    }
  
    .opaque {
      background-color: color($colors, primary) !important;
  
      &:after {
        height: 5px !important;
      }
  
      .toolbar-background {
        background-color: color($colors, primary);
      }
    }
  }
  
  // Extend super bar placeholder for android
  .platform-android {
    page-launch-info {
      @extend %super-bar;
    }
  }

  // image-viewer transparent navbar
  image-viewer.ion-page div.image-wrapper {
    margin-top: 0;
  }

  div.customCarousel {
    &::-webkit-scrollbar { 
      display: none; 
    }
    
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    height: 30vh;
    background: black;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    img {
      scroll-snap-align: center;
      height: 100%;
      margin: auto;
      object-fit: contain;
    }
  }

  ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
    }
  
    &[class*="custom-wikipedia"] {
      mask-image: url(../assets/imgs/wikipedia-logo.svg);
    }
  }