<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Launch sites</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-spinner name="crescent" color="primary" *ngIf="loading"></ion-spinner>

  <ion-list *ngIf="allLaunchPads" @itemState>
    <ion-card *ngFor="let launchpad of allLaunchPads">
      <p class="statusBadge {{launchpad.status}}" item-end text-center>
        {{launchpad.status}}
      </p>
      <!-- TODO: export to config. -->
      <img
        src="https://api.mapbox.com/v4/mapbox.outdoors/pin-l-rocket+285A98({{launchpad.location.longitude}},{{launchpad.location.latitude}})/{{launchpad.location.longitude}},{{launchpad.location.latitude}},14/400x200.png?access_token=pk.eyJ1IjoiY29uZGVmIiwiYSI6ImNqc2Y4cTFsNzAxcnc0NW81ZW9nZ3ZoZWoifQ.5vIn9jjepnoAvFP9xcP7cQ">
      <ion-item>
        <!-- <ion-icon name="globe" item-left large ></ion-icon> -->
        <h2 text-wrap>{{ launchpad.site_name_long }}</h2>
        <p text-wrap>{{ launchpad.details }}</p>
      </ion-item>
      <ion-item>
        <button ion-button icon-left clear item-left
          (click)="openMaps(launchpad.location.longitude, launchpad.location.latitude)">
          <ion-icon name="globe"></ion-icon>
          Open in Google Maps
        </button>
        <button ion-button icon-left clear item-right
          (click)="openDetails(launchpad)">
          Open details
        </button>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>