page-launch-sites {
    ion-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 4em;
        height: 4em;
    }

    ion-card {
        position: relative;
    }

    p.statusBadge {
        position: absolute;
        right: 1em;
        top: 1em;
        padding: 2px 8px;
        border-radius: 10px;
        font-size: .8em;
        &.destroyed {
            color: white;
            background-color: color($colors, danger);
        }
        &.active {
            color: white;
            background-color: color($colors, secondary);
        }
        &.unknown {
            color: white;
            background-color: grey;
        }
        &.retired {
            color: white;
            background-color: color($colors, primary);
        }
        &.under.construction {
            color: rgb(27, 27, 27);
            background-color: color($colors, light);
        }
    }
}
