<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Capsules</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-spinner name="crescent" color="primary" *ngIf="loading"></ion-spinner>
  <div *ngIf="capsules" @itemState>
    <ion-card *ngFor="let capsule of capsules">
      <div class="statusBadgeLeft {{capsule.status}}"></div>
      <ion-item>
        <span item-start>
          {{ capsule.capsule_id}} - {{capsule.capsule_serial}}
        </span>
        <p class="statusBadge {{capsule.status}}" item-end text-center>
          {{capsule.status}}
        </p>
      </ion-item>
      <ion-card-content>
        {{capsule.details}}
      </ion-card-content>
      <ion-grid padding>
        <ion-row no-padding>
          <ion-col no-padding col-5>
            Launched:
          </ion-col>
          <ion-col no-padding text-right>
            <p>{{(capsule.original_launch | date) || 'N/A'}}</p>
          </ion-col>
        </ion-row>
        <ion-row no-padding>
          <ion-col no-padding col-5>
            Capsule type:
          </ion-col>
          <ion-col no-padding text-right>
            <p>{{capsule.type}}</p>
          </ion-col>
        </ion-row>
        <ion-row no-padding>
          <ion-col no-padding col-5>
            No of landings:
          </ion-col>
          <ion-col no-padding text-right>
            <p>{{capsule.landings}}</p>
          </ion-col>
        </ion-row>
        <ion-row no-padding>
          <ion-col no-padding col-5>
            Reuse count:
          </ion-col>
          <ion-col no-padding text-right>
            <p>{{capsule.reuseCount}}</p>
          </ion-col>
        </ion-row>
        <ion-row no-padding>
          <ion-col no-padding col-5>
            Status
          </ion-col>
          <ion-col no-padding text-right>
            <p>{{capsule.status}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid padding [hidden]="!capsule.toggled">
        <ion-row>
          <ion-col text-center>
            Missions:
          </ion-col>
        </ion-row>
        <ion-row no-padding *ngFor="let mission of capsule.missions">
          <ion-col no-padding col-5>
            {{mission.name}}
          </ion-col>
          <ion-col no-padding text-right>
            <p>{{mission.flight}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <button ion-button icon-right text-capitalize full clear round *ngIf="capsule.missions.length > 0"
        (click)="capsule.toggled = !capsule.toggled">
        {{capsule.toggled ? 'Hide' : 'Show'}} capsule missions
        <ion-icon icon-end [name]="capsule.toggled ? 'ios-arrow-up' : 'ios-arrow-down'"></ion-icon>
      </button>
    </ion-card>
  </div>
</ion-content>