page-capsules {
    ion-spinner {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 4em;
        height: 4em;
    }
    ion-card {
        padding: 8px;
        position: relative;
    }
    p.statusBadge {
        padding: 2px 8px;
        border-radius: 10px;
        font-size: .8em;
        &.destroyed {
            color: white;
            background-color: color($colors, danger);
        }
        &.active {
            color: white;
            background-color: color($colors, secondary);
        }
        &.unknown {
            color: white;
            background-color: grey;
        }
        &.retired {
            color: white;
            background-color: color($colors, primary);
        }
    }

    div.statusBadgeLeft {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        box-shadow: 0 0 50vw 0 grey;
        width: .5em;
        height: auto;
        z-index: 2;

        &.destroyed {
            background-color: color($colors, danger);
        }
        &.active {
            background-color: color($colors, secondary);
        }
        &.unknown {
            background-color: grey;
        }
        &.retired {
            background-color: color($colors, primary);
        }
    }
}
