<ion-header>
  <ion-navbar>
    <ion-title>Launch site info</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-spinner name="crescent" color="primary" *ngIf="loading"></ion-spinner>
  <img *ngIf="!loading" class="frontImage" src="https://api.mapbox.com/v4/mapbox.outdoors/pin-l-rocket+285A98({{launchSite.location.longitude}},{{launchSite.location.latitude}})/{{launchSite.location.longitude}},{{launchSite.location.latitude}},14/720x360.png?access_token=pk.eyJ1IjoiY29uZGVmIiwiYSI6ImNqc2Y4cTFsNzAxcnc0NW81ZW9nZ3ZoZWoifQ.5vIn9jjepnoAvFP9xcP7cQ">
  <span *ngIf="!loading" class="siteName"><p>{{ launchSite.site_name_long }}</p></span>
  <button class="wikipediaFab" *ngIf="!loading && launchSite.wikipedia" ion-fab color="light" (click)="openWeb(launchSite.wikipedia)">
    <ion-icon name="custom-wikipedia"></ion-icon>
  </button>
</ion-content>
