page-launch-site-info {
    ion-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 4em;
        height: 4em;
    }
    .scroll-content {
        margin-top: 30vw;
    }
    .frontImage {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 30vh;
        object-fit: cover;
    }
    .siteName {
        position: absolute;
        left: 0;
        max-width: 80vw;
        display: block;
        padding: 15px;
        bottom: calc(70vh - 56px);
        p {
            font-size: 1.5em;
            color: white;
            text-shadow: 0px 0px 5px rgba(0,0,0,0.7);
            display: block;
            margin: 0;
            word-break: break-word;
        }
    }

    button.wikipediaFab[ion-fab] {
        position: absolute;
        top: 30vh;
        right: 5vw;
        transform: translateY(-50%);
    }
}
