page-launch-info {
    .toolbar-title-md, .toolbar-title-ios {
        vertical-align: middle;
        display: flex;
        align-items: center;
        img {
            margin-right: 1em;
        }
    }
    .cover {
        height: 35vh;
        width: 100%;
        position: relative;
        .badge {
            position: absolute;
            right: 8vw;
            top: 10vh;
            img {
                height: 12vh;
                width: 12vh;
            }
        }
    }
    div.blend {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 10;
    }
    .ui-carousel-item[_ngcontent-c1] {
        background-color: transparent;
        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    button[ion-fab] {
        overflow: visible;
        position: relative;
    
        ion-label {
            position: absolute;
            top: -4px;
    
            // this is the difference: 
            right: 45px;
    
            color: white;
            background-color: rgba(70, 70, 70, 0.9);
            line-height: 24px;
            padding: 2px 8px;
            border-radius: 4px;
            font-size: 12px
        }
    }
    
    .fab{
        contain: layout;
    }
}
