<ion-header [class.opaque]="showToolbar">
  <ion-navbar color="primary">
    <ion-title [hidden]="!showToolbar">
      {{launch.mission_name}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content (ionScroll)="onScroll($event)">
  <div class="cover">
    <img src="./assets/imgs/SpaceX-Falcon-9.jpg" />
    <div class="badge" *ngIf="launch.links.mission_patch">
      <img [src]="launch.links.mission_patch" imageViewer />
    </div>
  </div>
  <ion-card>
    <ion-card-header>
      {{launch.mission_name}} mission
    </ion-card-header>
    <ion-card-content>
      <p>
        {{launch.details}}
      </p>
      <p>
        Took off in 
        <a (click)="openLaunchSite(launch.launch_site.site_id)">{{launch.launch_site.site_name_long}}</a>
      </p>
      <div class="customCarousel" *ngIf="launch.links.flickr_images.length != 0">
        <img *ngFor="let img of launch.links.flickr_images" [src]="img" imageViewer>
      </div>
    </ion-card-content>
  </ion-card>
  <div class="blend" *ngIf="showBlend"></div>
  <ion-fab right bottom #fabBigButton>
    <button ion-fab (click)="openFab(fabBigButton)">
      <ion-icon name="link"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab *ngIf="launch.links.presskit" (click)="openWeb(launch.links.presskit)">
        <ion-icon name="list-box"></ion-icon>
        <ion-label>Presskit</ion-label>
      </button>
      <button color="danger" ion-fab *ngIf="launch.links.video_link" (click)="openWeb(launch.links.video_link)">
        <ion-icon name="logo-youtube"></ion-icon>
        <ion-label>YouTube</ion-label>
      </button>
      <button ion-fab *ngIf="launch.links.wikipedia" (click)="openWeb(launch.links.wikipedia)">
        <ion-icon name="custom-wikipedia"></ion-icon>
        <ion-label>Wikipedia</ion-label>
      </button>
      <button color="danger" ion-fab *ngIf="launch.links.reddit_campaign"
        (click)="openWeb(launch.links.reddit_campaign)">
        <ion-icon name="logo-reddit"></ion-icon>
        <ion-label>Reddit Capaign</ion-label>
      </button>
      <button color="danger" ion-fab *ngIf="launch.links.reddit_launch" (click)="openWeb(launch.links.reddit_launch)">
        <ion-icon name="logo-reddit"></ion-icon>
        <ion-label>Reddit launch</ion-label>
      </button>
      <button color="danger" ion-fab *ngIf="launch.links.reddit_media" (click)="openWeb(launch.links.reddit_media)">
        <ion-icon name="logo-reddit"></ion-icon>
        <ion-label>Reddit media</ion-label>
      </button>
      <button color="danger" ion-fab *ngIf="launch.links.reddit_recovery"
        (click)="openWeb(launch.links.reddit_recovery)">
        <ion-icon name="logo-reddit"></ion-icon>
        <ion-label>Reddit recovery</ion-label>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>